@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #15803d; /* Green-700 */
  --color-secondary: #16a34a; /* Green-600 */
  --color-bg: #004408; /* White background */
  --color-text: #ffffff; /* Gray-800 text */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}

button {
  @apply bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition;
}

input, select, textarea {
  @apply border border-green-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-green-400 text-gray-800;
}
